In [51]:
#!/usr/bin/env python
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String
from sqlalchemy import sql, select, join, desc
print('done')

done

In [52]:
# Creating a Engine object which is our handle into the database.
engine = create_engine('sqlite:///world1.sqlite')
# Connecting to the database
conn = engine.connect()

**Solution to Question 2:**

In [53]:
# Auto-creating the country object basedon the metadata read into the DBInfo.
country=Table('country', DBInfo, autoload=True)

In [54]:
country

Table('country', MetaData(bind=Engine(sqlite:///world.sqlite)), Column('Code', CHAR(length=3), table=<country>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c63db730>, for_update=False)), Column('Name', CHAR(length=52), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c63dbd60>, for_update=False)), Column('Continent', TEXT(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c63dab00>, for_update=False)), Column('Region', CHAR(length=26), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650cee0>, for_update=False)), Column('SurfaceArea', FLOAT(precision=10, asdecimal=2), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650c1c0>, for_update=False)), Column('IndepYear', INTEGER(), table=<country>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650c040>, for_update=False)), Column('Population', INTEGER(), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650cc40>, for_update=False)), Column('LifeExpectancy', FLOAT(precision=3, asdecimal=1), table=<country>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650ca60>, for_update=False)), Column('GNP', FLOAT(precision=10, asdecimal=2), table=<country>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650cb50>, for_update=False)), Column('GNPOld', FLOAT(precision=10, asdecimal=2), table=<country>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650c3a0>, for_update=False)), Column('LocalName', CHAR(length=45), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650c520>, for_update=False)), Column('GovernmentForm', CHAR(length=45), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650c5e0>, for_update=False)), Column('HeadOfState', CHAR(length=60), table=<country>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650c640>, for_update=False)), Column('Capital', INTEGER(), table=<country>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650cd30>, for_update=False)), Column('Code2', CHAR(length=2), table=<country>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650ce20>, for_update=False)), schema=None)

In [55]:
# Mirroring this command: SELECT Code, Name, Continent,Population and IndepeYear FROM country LIMIT 10;
query=select([country.c.Code, country.c.Name, country.c.Continent,country.c.Population,country.c.IndepYear]).limit(10)
result = conn.execute(query)
for row in result:
    print(row)

('ABW', 'Aruba', 'North America', 103000, None)
('AFG', 'Afghanistan', 'Asia', 22720000, 1919)
('AGO', 'Angola', 'Africa', 12878000, 1975)
('AIA', 'Anguilla', 'North America', 8000, None)
('ALB', 'Albania', 'Europe', 3401200, 1912)
('AND', 'Andorra', 'Europe', 78000, 1278)
('ANT', 'Netherlands Antilles', 'North America', 217000, None)
('ARE', 'United Arab Emirates', 'Asia', 2441000, 1971)
('ARG', 'Argentina', 'South America', 37032000, 1816)
('ARM', 'Armenia', 'Asia', 3520000, 1991)

In [56]:
query=select([country.c.Code, country.c.Name, country.c.Continent])\
             .where(country.c.Name=='Montenegro')\
             .order_by(desc(country.c.Population))\
             .limit(10)
result = conn.execute(query)
for row in result:
    print(row)
print(result)

##No results on Montenegro at first. So, it can be added now.

<sqlalchemy.engine.result.ResultProxy object at 0x2b72c650fbb0>

In [58]:
print(country.insert())

INSERT INTO country ("Code", "Name", "Continent", "Region", "SurfaceArea", "IndepYear", "Population", "LifeExpectancy", "GNP", "GNPOld", "LocalName", "GovernmentForm", "HeadOfState", "Capital", "Code2") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

In [62]:
my_insert=country.insert().values(Code='MNE',Name='Montenegro', Continent='Europe',IndepYear='2006',Population='621000')
print(my_insert)

INSERT INTO country ("Code", "Name", "Continent", "IndepYear", "Population") VALUES (?, ?, ?, ?, ?)

In [63]:
result = conn.execute(my_insert)

In [64]:
query=select([country.c.Code, country.c.Name, country.c.Continent, country.c.IndepYear,country.c.Population]).where(country.c.Name.like('Mon%'))
result = conn.execute(query)
for row in result:
    print(row)

('MCO', 'Monaco', 'Europe', 1861, 34000)
('MNG', 'Mongolia', 'Asia', 1921, 2662000)
('MSR', 'Montserrat', 'North America', None, 11000)
('MNE', 'Montenegro', 'Europe', 2006, 621000)

**Solution to question 3:**

In [65]:
# Auto-creating the country object basedon the metadata read into the DBInfo.
city=Table('city', DBInfo, autoload=True)

In [66]:
city

Table('city', MetaData(bind=Engine(sqlite:///world.sqlite)), Column('ID', INTEGER(), table=<city>, primary_key=True, nullable=False), Column('Name', CHAR(length=35), table=<city>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650fe80>, for_update=False)), Column('CountryCode', CHAR(length=3), ForeignKey('country.Code'), table=<city>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650ead0>, for_update=False)), Column('District', CHAR(length=20), table=<city>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650e140>, for_update=False)), Column('Population', INTEGER(), table=<city>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x2b72c650f5e0>, for_update=False)), schema=None)

In [67]:
print(city.insert())

INSERT INTO city ("ID", "Name", "CountryCode", "District", "Population") VALUES (?, ?, ?, ?, ?)

In [68]:
my_insert=city.insert().values(Name='Podgorica',CountryCode='MNE', Population='170000')

In [69]:
my_insert=city.insert().values(Name='Kotor',CountryCode='MNE',Population='5300')
print(my_insert)

INSERT INTO city ("Name", "CountryCode", "Population") VALUES (?, ?, ?)

In [70]:
result = conn.execute(my_insert)

In [71]:
query=select([city.c.ID, city.c.Name, city.c.CountryCode, city.c.District, city.c.Population]).where(city.c.CountryCode.like('MNE'))
result = conn.execute(query)
for row in result:
    print(row)

(1234568, 'Podgorica', 'MNE', '', 170000)
(1234569, 'Kotor', 'MNE', '', 5300)